/*CSS for Work Experience page*/
#arctic-valley-ski-area-page{

}

#arctic-valley-ski-area-page h1{
    border-bottom: darkblue solid 2px;
}

#arctic-valley-ski-area-page ul{

}

#arctic-valley-ski-area-page li{
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 2vw;
}

#arctic-valley-ski-area-page a{

}
.buttonImageContainer{

    position:relative;
    width: 26vw;
}

.mySlides{
    width:26vw;
    border: black solid 1px;
    max-width: 100%
}

.mySlidesRightButton{
    position:absolute;

    top: 50%;
    left: 96.5%;

    padding: 1.75% 1% 1.75% 1.75%;

    background-color: #555;
    color: white;
    font-size: 0.5vw;
    border: none;
    cursor: pointer;
    opacity:75%;
}

.mySlidesLeftButton{
    position: absolute;

    top: 50%;
    right:96%;

    padding: 1.75% 1% 1.75% 1.75%;

    background-color: #555;
    color: white;
    font-size: 0.5vw;
    border: none;
    cursor: pointer;
    opacity:75%;
}

.mySlidesLeftButton:hover{
    background-color: black;
}

.mySlidesRightButton:hover{
    background-color: black;
}

