/*CSS for Work Experience page*/
#best-western-kodiak-inn-page{

}

#best-western-kodiak-inn-page h1{
    border-bottom: darkblue solid 2px;
}

#best-western-kodiak-inn-page ul{

}

#best-western-kodiak-inn-page li{
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 2vw;
}

#best-western-kodiak-inn-page a{

}

.buttonImageContainer{
    position: relative;
    width: 35vw;
    height: fit-content;

}

.mySlides{
    size: auto;
    max-width: 100%;
    border: black solid 1px;

}

.mySlidesRightButton{
    position:absolute;

    top: 50%;
    left: 96.5%;

    padding: 1.75% 1% 1.75% 1.75%;

    background-color: #555;
    color: white;
    font-size: 0.5vw;
    border: none;
    cursor: pointer;
    opacity:75%;
}

.mySlidesLeftButton{
    position: absolute;

    top: 50%;
    right: 96%;

    padding: 1.75% 1% 1.75% 1.75%;

    background-color: #555;
    color: white;
    font-size: 0.5vw;
    border: none;
    cursor: pointer;
    opacity:75%;
}

.mySlidesLeftButton:hover{
    background-color: black;
}

.mySlidesRightButton:hover{
    background-color: black;
}

