/*CSS for Work Experience page*/
#coding-with-kids-page{
    display: flex;
    flex-direction: column;
}

#coding-with-kids-page h1{
    border-bottom: darkblue solid 2px;
}

#coding-with-kids-page ul{

}

#coding-with-kids-page li{
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 2vw;
}

#coding-with-kids-page a{

}


