/* fr is a fractional part of space available*/


/*CSS for html*/
html{
    height: 100%;
    min-width: 710px;

    margin: 0;
    overflow: auto;

    font-family: "Tahoma", "Courier New", sans-serif;
    background-image: url(../photos/repeatingBackground.jpg);
    /*background: white;*/
}

/*CSS for body*/
body{
    height:100%;
    margin: 0;
    overflow: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1.5fr 8.5fr;
}

/*CSS for header (top navigation bar)*/
header{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #404040;
    border-bottom: black solid 2px;
    font-size: 2vw;
    overflow: hidden;

}

/*CSS for aside (side bar)*/
aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #404040;
    border-right: black solid 2px;
    /* Top, Right, Bottom, Left*/


    min-width: 206px;
    min-height: 650px;


    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
}

/*CSS for h1 inside the sidebar*/
aside h1{
    padding: 0 0 1vh 0;
    margin: 0 0 0 0;
    font-size: min(max(3.2vh, 20px), 28px);

}

/*CSS for sidebar lists*/
.sidebar-lists {
    list-style-type: none;
}

/*CSS for sidebar list text*/
.sidebar-list-text{
    padding: 0 0 15px 0;
    font-size: min(max(1.8vh, 15px), 20px);
}

/*CSS for main (contains page body and inner page body)*/
main{
    grid-column: 2/3;
    grid-row: 2/3;

    height: 100%;
    width: 100%;
    min-height:650px;
    overflow: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    /*background: white;*/

}

/*CSS for page-body (contains inner page body; allows a margin to be introduced without buggy scrollbars)*/
#page-body{
    min-height: 100%;
    width: 100%;
    display: grid;

    grid-template-rows: 1fr 24fr 1fr;
    grid-template-columns: 1fr 19fr 1fr;

    margin: 0;
    padding: 0;
}

/*CSS for inner page body (This is the part where all the content is placed)*/
#inner-page-body{
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    height: fit-content;

    margin: 0;
    padding: 3%;

    background-color: white;
    border-top: darkblue solid 3px;
    border-bottom: darkblue solid 3px;
    font-family: "Tahoma", "Courier New", sans-serif;
    font-size: min(max(0.78vw, 2px), 30px);

    color: black;
    letter-spacing: 0.05vw;
    line-height: 1.6vw;
}

/*CSS for the inner page body h3 tag*/
#inner-page-body h3{
    text-decoration: underline;
    padding-bottom: 1vh;


    letter-spacing: normal;
    line-height: normal;
}

/*CSS for a custom flex container*/
.flex-container{
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}

/*CSS for a custom flex column container*/
.flex-column-container{
    display: flex;
    flex-direction: column;

    max-height: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;
}

/*CSS for a grid container*/
.grid-container{
    display: grid;
    margin: 0;
    padding: 0;

}

/*CSS for name in the top left of page*/
#name{
    border: 1px solid white;
    font-size: min(max(1.5vw, 20px), 47px);
    font-weight: 20;
    cursor: pointer;
    padding: 0.4vw;
    margin: 0.6vw;
}


/*CSS that makes links white with a white underline*/
.white-underline {
    color: white;
    text-decoration: underline white;
    text-decoration-width: 20px;
    cursor: pointer;
}

/*CSS that makes links white with NO underline*/
.white-no-underline {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*CSS that makes links white with a white underline*/
.black-underline {
    color: black;
    text-decoration: underline black;
    cursor: pointer;
}

/*CSS that makes links black with NO underline*/
.black-no-underline {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*CSS for top icons*/
.top-icons {
    size: auto;
    width: min(max(4.7vh, 20px), 40px);
    padding-bottom: .5vw
}

/*CSS for bottom icons*/
.bottom-icons {
    size: auto;
    width: min(max(4.0vh, 20px), 40px);

    padding: .4vw;
}