/*CSS for html*/
html{
    height: 100%;
    margin: 0;
    overflow: auto;

    font-family: "Tahoma", "Courier New", sans-serif;
    background: white;
}

/*CSS for body*/
body{
    height:100%;
    margin: 0;
    overflow: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1.5fr 8.5fr;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #404040;
    border-bottom: black solid 2px;
    font-size: 2vw;
    overflow: hidden;

}

aside{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #404040;
    border-right: black solid 2px;
    /* Top, Right, Bottom, Left*/

    min-width: 270px;
    min-height:685px;
    max-width:450px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: left;
}

aside h1{
    padding: 0 0 1vh 0;
    margin: 0 0 0 0;
    font-size: min(max(3.0vh, 25px), 35px);
}


main{
    grid-column: 2/3;
    grid-row: 2/3;

    overflow: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    background: white;
}


/*
footer{
    grid-column: 1/3;
    grid-row: 3/4;
    background: aqua;
    border-top: black solid 2px;
}
*/

.flex-container{
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
}

.flex-column-container{
    display: flex;
    flex-direction: column;

    max-height: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    margin: 0;
    padding: 0;
    /* fr is a fractional part of space available*/
}

/*CSS for name in the top left of page*/
#name{
    border: 1px solid white;
    font-size: min(max(1.6vw, 20px), 47px);
    font-weight: 20;
    cursor:pointer;
    padding: 0.2vw;
    margin: 0.6vw;
}


/*CSS that makes links white with a white underline*/
.white-underline {
    color: white;
    text-decoration: underline white;
    text-decoration-width: 20px;
    cursor: pointer;
}

/*CSS that makes links white with NO underline*/
.white-no-underline {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*CSS that makes links white with a white underline*/
.black-underline {
    color: black;
    text-decoration: underline black;
    cursor: pointer;
}

/*CSS that makes links black with NO underline*/
.black-no-underline {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*CSS for project container*/
.sidebar-lists {
    list-style-type: none;
}

.sidebar-list-text{
    padding: 0 0 15px 0;
    font-size: min(max(2.0vh, 15px), 25px);
}

/*CSS for top icons*/
.top-icons {
    size: auto;
    width: 4.7vh;
    padding-bottom: .5vw

}

/*CSS for bottom icons*/
.bottom-icons {
    size: auto;
    width: min(max(4.0vh, 20px), 40px);

    padding: .4vw;

}












