/*CSS for about me page*/
#aboutMePageBody{
    background-color:white;
    border-top: solid 4px darkblue;
    border-bottom: solid 4px darkblue;
    box-sizing: border-box;
    margin: 50px;
    padding: 40px 0 0 60px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    display: block;
}
