/*CSS for about me page*/
#aboutMePageBody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2vw;
    background-color:white;
    border-top: solid 4px darkblue;
    border-bottom: solid 4px darkblue;

    font-family: "Tahoma", "Courier New", monospace;
    color: black;
    letter-spacing: .1rem;
    line-height: normal;
}
