/*CSS for Work Experience page*/
#monopoly-page{
    display: flex;
    flex-direction: column;
}

#monopoly-page h1{
    border-bottom: darkblue solid 2px;
}

#monopoly-page ul{

}

#monopoly-page li{
    font-size: 1vw;
    letter-spacing: normal;
    line-height: 2vw;
}

#monopoly-page a{

}