/*CSS for monopoly page*/
#monopolyPageBody{
    background-color:white;
    border-top: solid 4px darkblue;
    border-bottom: solid 4px darkblue;
    box-sizing: border-box;
    margin: 50px;
    padding: 40px 50px 0 60px;
    font-family: "Tahoma", "Courier New", monospace;
    color: black;
    display: flow-root;
    letter-spacing: .1rem;
    line-height: 25px;
}