#nasaCitySmartWorldWisePageBody{
    background-color:white;
    border-top: solid 4px darkblue;
    border-bottom: solid 4px darkblue;
    box-sizing: border-box;
    margin: 50px;
    padding: 20px;
    font-family: "Tahoma", "Courier New", monospace;
    color: black;
    display: block;
    letter-spacing: .1rem;
    line-height: 25px;
}

.figureText{
    font-size: 12px
}