/*CSS for Work Experience page*/
#projects-page{

}

#projects-page h1{
    border-bottom: darkblue solid 2px;
}

#projects-page ul{

}

#projects-page li{
    font-size: 1.5vw;
    letter-spacing: normal;
    line-height: 3rem;
}

#projects-page a{

}