/*CSS for resume page*/
#resumePageBody{
    background-color:white;
    border-top: solid 4px darkblue;
    border-bottom: solid 4px darkblue;
    box-sizing: border-box;
    margin: 50px;
    padding: 5px 5px 5px 5px;
    font-family: "Tahoma", "Courier New", monospace;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    letter-spacing: .1rem;
    line-height: normal;
}

#sidenav-container {

}