/*CSS for Work Experience page*/
#ricetunes-page{

}

#ricetunes-page h1{
    border-bottom: darkblue solid 2px;
}

#ricetunes-page ul{

}

#ricetunes-page li{
    font-size: 1.5vw;
    letter-spacing: normal;
    line-height: 3rem;
}

#ricetunes-page a{

}