/*CSS for Work Experience page*/
#work-experience-page{

}

#work-experience-page h1{
    border-bottom: darkblue solid 2px;
}

#work-experience-page ul{

}

#work-experience-page li{
    font-size: 1.5vw;
    letter-spacing: normal;
    line-height: 3rem;
}

#work-experience-page a{

}